* {
  font: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue,#2E2F42);
  color: var(--cloud, #F4F4FD);
  color: var(--ocean,#404BBF);
  color: var(--slate, #434455);
  flex-shrink: 0;
  max-width: 1440px;
  min-width: fit-content;
}
  /* Navigation container section  */
.navigation-container {
  display: flex;
  border-bottom: 1px solid var(--cornflower, #E7E9FC);
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
  max-width: 3000px;
  /* white-space: nowrap; */
} 

.navigation-logo {
  display: inline-flex;
  text-decoration: none;
  padding: 25.5px 76px 25.5px 156px;
}

.navigation-logo-web,
.footer-logo-web {
  color: var(--iris, #4D5AE5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.navigation-logo-studio {
  color: var(--navyblue, #2E2F42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  }

.navigation-section {
  display: inline-flex;
  list-style-type: none;
  gap: 40px;
  white-space: nowrap;
}

.navigation-studio, 
.navigation-portfolio,
.navigation-contacts {
  text-decoration: none;
  color: var(--navyblue,#2E2F42);
  font-weight: 500;
  line-height: 1.5em; 
  letter-spacing: 0.32px;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  /* border: 5px solid blue; */
}
  
.navigation-studio:hover {
  color: var(--ocean,#404BBF);
}

.navigation-portfolio:hover {
  color: var(--ocean,#404BBF);
}

.navigation-contacts:hover {
  color: var(--ocean,#404BBF);
}

/* .navigation-menu {
  border: 5px solid red;
} */


.address-section {
  display: inline-flex;
  margin-left: auto;
  padding-right: 156px;
  padding: 24px 156px 24px 10px;
  gap: 40px;
  /* border: 5px solid lightcoral; */
}

.address-section a {
  display: inline-flex;
  color: var(--slate, #434455);
  font-style: normal;
  line-height: 1.5rem; 
  letter-spacing: 0.32px;
  text-decoration: none;
}

.address-section-email:hover {
  color: var(--ocean, #404BBF);
}

.address-section-telephone:hover {
  color: var(--ocean, #404BBF);
}
  /* Hero container section  */
.hero-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 1440px; */
  /* height: 600px; */
  flex-shrink: 0;
  /* padding-top: 188px; */
  /* padding-left: 472px;
  padding-right: 472px;
  padding-bottom: 292px; */
  padding: 120px 472px;
  background-color: var(--navyblue,#2E2F42);
}

.hero-header {
  width: 496px;
  display: flex;
  color: var(--white, #FFF);
  font-size: 56px;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: 1.12px;
  text-transform: capitalize;
  /* background-color: yellow; */
}

.hero-button  {
  display: inline-flex;
  /* width: 169px; */
  /* height: 56px; */
  color: var(--white, #FFF);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris, #4D5AE5);
  border-style: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  
}

.hero-button:hover {
  background: var(--ocean, #404BBF);
}

.section1 h3 {
  color: var(--navyblue,#2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5rem; 
  letter-spacing: 0.4px;
  width: 264px;
  text-align: left;
}

.section1 {
  display: flex;
  flex-direction: row ;
  justify-content: space-evenly;
  /* background-color: lightcoral; */
  column-gap: 24px;
  list-style-type: none;
}
.section1 p {
  color: var(--slate, #434455);
  line-height: 1.5; 
  letter-spacing: 0.32px;
  width: 264px;
  text-align: left;
}

.section2-container {
display: flex;
justify-content: center;
padding-left: 156px;
padding-right: 156px;
padding-bottom: 120px;
}

.section2 {
  list-style: none;
  display: flex;
  column-gap: 24px;
  padding-top: 72px;
}
.section2-header,
.section3-header
{
  color: var(--navyblue,#2E2F42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.72;
  text-transform: capitalize;
  padding-top: 120px;
}

.section3-container {
  display: flex;
  background: var(--cloud, #F4F4FD);
  padding-left: 156px;
  padding-right: 156px;
}

.section3-images {
  display: inline-flex;
  text-align: center;
  list-style-type: none;
  gap: 24px;
  padding-top: 72px;
  /* width: 264px;
  height: 260px; */
}

/* CSS for Portfolio */
.filter-button {
  display: inline-flex;
  list-style-type: none;
  justify-content: center;
  width: 100%;
  
}

.filter-buttons {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #E7E9FC);
  background: var(--cloud, #F4F4FD);
  padding: 12px 24px;
  margin-left: 24px;
  color: var(--iris, #4D5AE5);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.64;
}

.filter-buttons:hover {
  color: var(--white, #fff);
  border-radius: 4px;
  background: var(--ocean, #404BBF);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.section1-portfolio h3,
.section2-portfolio h3,
.section3-portfolio h3 {
  color: var(--navyblue, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.4px;
}

.section1-portfolio p,
.section2-portfolio p,
.section3-portfolio p {
  color: var(--slate, #434455);
  line-height: 1.5rem;
  letter-spacing: 0.32px;
}

.footer-container {
  position: relative;
  background-color: var(--iris, #2E2F42);
  width: 100%;
  height: 312px;
}

.footer-logo {
  display: block;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.31rem; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 101px;
  }

  .footer-logo-web {
    color: var(--iris, #4D5AE5);
  }

  .footer-logo-studio {
    color: var(--cloud, #F4F4FD);
  }

.footer-content {
  display: inline-block;
  color: var(--cloud, #F4F4FD);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5rem; 
  letter-spacing: 0.32px;
  text-decoration: none;
  width: 264px;
  height: 72px;
  text-align:left;
  }
