*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --navyblue:#2E2F42;
  --cloud:#F4F4FD;
  --ocean:#404BBF;
  --slate:#434455;
  --iris:#4D5AE5;
  --cornflower:#E7E9FC;
}
*
body {
  font-family: "Roboto", sans-serif;
  width: 1158px;
  /* max-width: 1140px; */
  /* min-width: fit-content; */
}
.navigation-section a:last-child,
.address-section a:last-child,
.feature li:last-child,
.section2 img:last-child {
  margin-right: 0;
}
  /* Navigation container section  */
.container {
  display: inline-flex;
  border-bottom: 1px solid var(--cornflower, #E7E9FC);
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
  width: 1158px;
  /* padding: 24px 0; */
}
.navigation > a {
  color: var(--navyblue);
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.313rem;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/* .navigation-logo {
  display: inline-flex;
  text-decoration: none;
  padding: 24.5px 76px 24.5px 0;
} */
.navigation-logo-web {
  display: inline-flex;
  color: var(--iris, #4D5AE5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.navigation-section {
  display: inline-flex;
  list-style-type: none;
  padding: 24px 0px;
  color: var(--navyblue,#2E2F42);
  padding: 0;
  margin-left: 76px;
}
.navigation-list {
  margin-right: 40px;
}
.navigation-list a {
  text-decoration: none;
  color: var(--navyblue,#2E2F42);
  font-weight: 500;
  line-height: 1.5em; 
  letter-spacing: 0.32px;
}  
.navigation-section a:hover {
  color: var(--ocean,#404BBF);
}
.address-section {
  display: inline-flex;
  margin-left: auto;
  padding: 24px 10px;
}
.address-section a {
  display: inline-flex;
  color: var(--slate, #434455);
  font-style: normal;
  line-height: 1.5rem; 
  letter-spacing: 0.32px;
  text-decoration: none;
  margin-right: 40px;
}
.address-section a:hover {
  color: var(--ocean, #404BBF);
}
  /* Hero container section  */
.hero-header {
  background-color: var(--navyblue);
  width: 100%;
  background-size: 100%;
  margin: 0;
  justify-content: center;
  text-align: center;
  padding: 188px 316px;
  /* border: 3px solid yellow; */
}
.hero-header h1 {
  text-align: center;
  /* width: 496px; */
  color: var(--white, #FFF);
  font-size: 56px;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: 1.12px;
  text-transform: capitalize;
  /* padding: 188px 0 48px; */
  flex-shrink: 0;
  /* border: 3px solid lightpink; */
}
.hero-header span {
  text-transform: lowercase;
}
.hero-button  {
  color: var(--white, #FFF);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background-color: var(--iris);
  border-style: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 16px 32px;
  align-items: flex-start;
}
.hero-button:hover {
  background: var(--ocean);
}
.feature {
  display: inline-flex;
  list-style-type: none;
  width: 1158px;
  align-items: flex-start;
  padding: 0px;
  margin-top: 53px;
  margin-bottom: 120px;
  /* border: 3px solid blue; */
}
.feature li {
  margin-right: 24px;
  /* border: 3px solid lightcoral; */
}
.feature h3 {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5rem; 
  letter-spacing: 0.4px;
  width: 264px;
  text-align: left;
  margin: 0;
} 
.feature p {
  color: var(--slate, #434455);
  line-height: 1.5; 
  letter-spacing: 0.32px;
  width: 264px;
  margin: 8px 0px 0px;
}
.section2 {
  display: inline-flex;
  list-style: none;
  margin-right: 24px;
  padding: 0;
  /* column-gap: 24px; */
  /* padding-top: 72px; */
  /* border: 3px solid purple; */
}
.section2 img {
  /* height: 300px; */
  border: 1px solid var(--cornflower);

}
.section2-header,
.section3-header
{
  color: var(--navyblue,#2E2F42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.72px;
  margin: 0 0 72px 0;
  text-transform: capitalize;
}
.section3 {
  display: flex;
  background: var(--cloud);
  padding-left: 156px;
  padding-right: 156px;
}
.section3-images {
  display: inline-flex;
  text-align: center;
  list-style-type: none;
  gap: 24px;
  padding-top: 72px;
  /* width: 264px;
  height: 260px; */
}
/* CSS for Portfolio */
.filter-button {
  display: inline-flex;
  list-style-type: none;
  justify-content: center;
  width: 100%;
}
.filter-buttons {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #E7E9FC);
  background: var(--cloud, #F4F4FD);
  padding: 12px 24px;
  margin-left: 24px;
  color: var(--iris, #4D5AE5);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.64;
}
.filter-buttons:hover {
  color: var(--white, #fff);
  border-radius: 4px;
  background: var(--ocean, #404BBF);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.section1-portfolio h3,
.section2-portfolio h3,
.section3-portfolio h3 {
  color: var(--navyblue, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.4px;
}
.section1-portfolio p,
.section2-portfolio p,
.section3-portfolio p {
  color: var(--slate, #434455);
  line-height: 1.5rem;
  letter-spacing: 0.32px;
}
.footer {
  background-color: var(--iris, #2E2F42);
  width: 100%;
}
/* .footer-logo {
  display: block;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.31rem; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 101px;
  } */
  .footer-logo-web {
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.313em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
  /* .footer-logo-studio {
    color: var(--cloud, #F4F4FD);
  } */
.footer p {
  display: inline-block;
  color: var(--cloud, #F4F4FD);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5rem; 
  letter-spacing: 0.32px;
  text-decoration: none;
  width: 264px;
  height: 72px;
  text-align:left;
  }
