*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --slate: #434455;
  --iris: #4d5ae5;
  --cornflower: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--navyblue);
  line-height: 1.5rem;
  letter-spacing: 0.32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding-bottom: 120px;
}

.container {
  padding: 0px 15px;
  width: 1158px;
  margin: auto;
}

.address-section a:last-child,
.container-feature li:last-child {
  margin-right: 0;
}

.services-list:not(:last-child),
.feature-list:not(:last-child),
.team-list:not(:last-child),
.filter-list:not(:last-child) {
  margin-right: 24px;
}

.services-menu,
.feature-menu,
.team-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  /* gap: 24px; */
}

.services-list,
.feature-list,
.card-list,
.team-list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.services-img,
.team-img {
  width: auto;
}

/* Header Section */
header {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  align-items: center;
  border-bottom: 1px solid var(--cornflower);
}

.container-header {
  display: flex;
  padding: 0px 15px;
  width: 1158px;
  margin: auto;
}

/* Navigation Section  */
.navigation-header {
  display: flex;
}

.navigation-header>a {
  color: var(--navyblue);
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313rem;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.navigation-header .navigation-logo-web {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* justify-content: space-between; */
  /* padding: 0; */
}

/* 
.navigation-list {
  display: flex;
} */

.navigation-list:not(:last-child) {
  margin-right: 40px;
}

.navigation-list a {
  text-decoration: none;
  color: var(--navyblue, #2e2f42);
  font-weight: 500;
}

.navigation-list a:hover {
  color: var(--ocean, #404bbf);
}

.address-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* flex-wrap: nowrap; */
  margin-left: auto;
}

.address-section a {
  color: var(--slate, #434455);
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.32px;
  text-decoration: none;
  margin-right: 40px;
}

.address-section a:hover {
  color: var(--ocean, #404bbf);
}

/* Hero section */
.section-hero {
  padding: 188px 15px;
  text-align: center;
  margin: auto;
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: 1.12px;
  text-transform: capitalize;
  margin-bottom: 48px;
  /* width: 496px; */
}

.hero-title span {
  text-transform: lowercase;
}

.hero-button {
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background-color: var(--iris);
  border-style: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 16px 32px;
  text-transform: capitalize;
  text-align: center;
}

.hero-button:hover {
  background: var(--ocean);
}

/* Studio: Section 1 (Feature Section) */
.section-feature {
  padding: 120px 0px;
}
.feature-list h3 {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.feature-list p {
  padding-top: 8px;
  color: var(--slate, #434455);
}

/* Index: Section 2 (What we are doing) */
.services-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

/* Index: Section 3 (Our Team) */
.section-team {
  padding: 120px 0px;
  text-align: center;
  background-color: var(--cloud);
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
  text-transform: capitalize;
  text-align: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-top: 32px;
}

.team-position {
  margin-top: 8px;
  margin-bottom: 32px;
  color: var(--slate);
}

/* Portfolio: Project Card Section */
.section-filter {
  padding: 96px 0px 72px;
  justify-content: center;
}

.filter-menu {
  display: flex;
  /* flex-wrap: wrap; */
  list-style: none;
  justify-content: center;
  align-items: center;
  /* gap: 24px; */
}

.filter-button {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  padding: 12px 24px;
  text-align: center;
  color: var(--iris, #4d5ae5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.64px;
}

.filter-button:hover {
  color: var(--white, #fff);
  border-radius: 4px;
  background: var(--ocean, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.card-section {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.card-list:nth-child(3n+1) {
  margin-right: 24px;
  margin-bottom: 48px;
}

.card-list:nth-child(3n+3) {
  margin-left: 24px;
  margin-bottom: 48px;
}

.card-list:nth-child(n+2) {
  margin-bottom: 48px;
}

.card-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-list img {
  width: auto;
}

.card-content {
  border-left: 1px solid var(--cornflower, #e7e9fc);
  border-right: 1px solid var(--cornflower, #e7e9fc);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  padding: 32px 16px;
}

.card-content h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.card-content p {
  margin-top: 8px;
  color: var(--slate);
}

.footer {
  background-color: var(--navyblue);
  padding: 100px 15px;
  /* width: 1158px; */
  margin: auto;
}

.footer-logo-web {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.container>a {
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.313rem;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer p {
  color: var(--cloud);
  text-decoration: none;
  width: 264px;
  margin-top: 17px;
}